#drop-down {
  position: relative;
  // z-index: 300;
  span,
  li {
    user-select: none;
    z-index: 100;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  .dd-button {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    cursor: pointer;
    border-radius: 50px;
    justify-content: center;
    border: 0.728949px solid #626262;
    border-radius: 3.64475px;
    svg {
      position: absolute;
      right: 20px;
      width: 14px;
      height: auto;
      z-index: 100;
      transform: rotate(0deg) scaleX(-1);
    }

    span {
      width: 100%;
    }
  }

  .dd-input {
    display: none;
  }

  .dd-menu {
    display: none;
  }
}

#drop-down[x-open='open'] .dd-menu {
  display: block;
  width: 100%;

  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  background: #ffffff;
  border: 0.853162px solid rgba(153, 152, 152, 0.13);
  box-shadow: 0px 12.7974px 25.5949px rgba(0, 0, 0, 0.1);
  border-radius: 11.9443px;
  list-style: none;
  padding: 0;
  margin: 0;

  padding-top: 16px;
  padding-bottom: 16px;

  li {
    display: flex;
    padding: 13.65px 6px;
    width: 100%;
    // justify-content: center;
  }
}

#drop-down[x-open='open'] {
  svg {
    transform: rotate(180deg) scaleX(-1) !important;
  }
}
