#resources {
  margin-top: 50px;
  h4 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    color: #282828;
    margin-bottom: 30.8px;
  }

  .resources {
    display: grid;
    column-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;

    .resource {
      display: flex;
      cursor: pointer;
      flex-direction: column;
      overflow: hidden;
      border-radius: 31.8272px 31.8272px 0px 0px;

      img {
        width: 100%;
        height: auto;
      }

      .content-box {
        height: 100px;
        padding: 15px;
        border: 1px solid #282828;
        border-top: none;
        border-radius: 0px 0px 31.8272px 31.8272px;
        p {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 29px;
          color: #282828;
        }
      }
    }
  }
}
