#customers-section {
  width: 435px;
  height: calc(100vh - 112px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(153, 152, 152, 0.13);

  .header {
    height: 73px;
    display: flex;
    align-items: center;
    padding-left: 45px;
    border-bottom: 2px solid rgba(153, 152, 152, 0.13);

    h2 {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 0;
      color: #282828;
    }
  }

  .customers {
    display: flex;
    flex-direction: column;
    padding: 16px 15px 32px 15px;

    .customer {
      width: 100%;
      cursor: pointer;
      padding: 21px 30px;
      display: flex;
      border-radius: 15px;
      border-bottom: 1px solid rgba(153, 152, 152, 0.13);

      img {
        width: 45px;
        height: 45px;
        margin-right: 13px;
      }

      .content {
        flex-grow: 1;

        small {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 500;
          font-size: 8px;
          line-height: 12px;
          color: #a2a2a2;
        }
        h3 {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: #282828;
        }
        p {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          color: #626262;
          margin-bottom: 0;
        }
      }
    }

    .customer:last-child {
      border: none;
    }

    .customer.active {
      background: rgba(153, 152, 152, 0.13);
    }
  }
}
