#offers {
  display: grid;
  gap: 17px;
  grid-template-columns: 1fr 1fr;

  .offer {
    display: flex;
    border: 1px solid #626262;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 40px;
    padding-bottom: 24px;
    h3 {
      margin-left: 27px;
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 700;
      font-size: 27px;
      line-height: 31px;
      color: #282828;
      margin-bottom: 0;
    }
    img {
      height: 50px;
      width: auto;
    }

    p {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 500;
      font-size: 19px;
      line-height: 24px;

      /* sub texts */

      color: #626262;
      a {
        text-decoration: underline;
      }
    }

    .button {
      margin-top: 33px;

      .btn-outline-red {
        width: 141px;
        height: 46.54px;
        border: 2px solid #ce1449;
        border-radius: 66.2243px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: #ce1449;
      }
    }
  }
}
