#gross-earnings {
  .payouts {
    display: flex;
    flex-direction: column;
    .payout {
      padding: 20px;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      border: 1px solid rgba(153, 152, 152, 0.13);
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
      border-radius: 14px;
      .d-flex {
        width: 25%;
      }
      h4 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        color: #626262;
        margin-bottom: 1px;
      }

      h5 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #626262;
        margin-bottom: 2px;
      }

      h5 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #626262;
      }
    }
    .empty-payout {
      background: #ffffff;
      border: 1px solid rgba(153, 152, 152, 0.13);
      box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
      border-radius: 14px;
      padding: 27px 19px;

      h5 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 3px;
        color: #626262;
      }

      p {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #626262;
        margin-bottom: 0;
      }
    }
  }
  .payout-line {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    .d-flex {
      width: 25%;
    }
    h4 {
      font-family: 'Satoshi';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      width: fit-content;
      line-height: 20px;
      color: #626262;

      position: relative;
      .info-bubble {
        position: absolute;
        bottom: 100%;
        right: 0;
        z-index: 20000000;
        width: 512px;

        padding: 18px 13px;
        background: #ffffff;
        border: 1px solid rgba(153, 152, 152, 0.13);
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
        border-radius: 14px;

        p {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          margin-bottom: 0;
          width: 417px;
          color: #626262;
        }

        .close {
          cursor: pointer;
          position: absolute;
          top: 13px;
          right: 13px;
          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
      a {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        color: #626262;
        text-decoration-line: underline;
      }
    }
  }
  .dropdowns {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;

    #drop-down {
      .dd-menu {
        max-height: 20vh;
        overflow-y: auto;
        li {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 500;
          font-size: 9px;
          line-height: 13px;
          color: #282828;
        }
      }
      .dd-button {
        span {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          line-height: 16px;
          /* identical to box height */

          /* black */

          color: #282828;
        }
        p {
          display: inline-flex;
          align-items: center;
          margin-bottom: 0;
          b {
            font-family: 'Satoshi';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            color: #282828;
            margin-right: 10px;
          }

          small {
            font-family: 'Satoshi';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 16px;
            color: #626262;
          }
        }
      }
    }
    #drop-down:nth-child(1) {
      width: calc((100% - 24px) * 3 / 10);
      .dd-button {
        height: 60px;
        padding: 20px 17px;
        border: 0.854409px solid #cfcfcf;
        border-radius: 4.27205px;
      }
    }
    #drop-down:nth-child(2) {
      width: calc((100% - 24px) * 2 / 10);
      .dd-button {
        height: 60px;
        padding: 20px 17px;
        border: 0.854409px solid #cfcfcf;
        border-radius: 4.27205px;
      }
    }
    #drop-down:nth-child(3) {
      width: calc((100% - 24px) * 3 / 10);
      .dd-button {
        height: 60px;
        padding: 20px 17px;
        border: 0.854409px solid #cfcfcf;
        border-radius: 4.27205px;
      }
    }
    #drop-down:nth-child(4) {
      width: calc((100% - 24px) * 2 / 10);
      .dd-button {
        height: 60px;
        padding: 20px 17px;
        border: 0.854409px solid #cfcfcf;
        border-radius: 4.27205px;
      }
    }
  }
}
