#inbox-platform {
  display: flex;
  width: calc(100% - 435px);
  .inbox-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .inbox-header {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 21px;
      padding-right: 16px;
      border-bottom: 2px solid rgba(153, 152, 152, 0.13);
      .right {
        .btn-outline-dark {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          color: #626262;
          cursor: pointer;
          height: 40.5px;
          width: 153px;
          display: flex;
          border: 0.662243px solid #626262;
          border-radius: 66.2243px;
          align-items: center;
          justify-content: center;
        }
      }
      .left {
        position: relative;
        h3 {
          font-family: 'Satoshi';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 27px;

          /* black */

          color: #282828;
        }
        .online {
          display: flex;
          position: absolute;
          top: calc(100% - 8px);
          align-items: center;

          span {
            font-family: 'Satoshi';
            font-style: normal;
            font-weight: 500;
            font-size: 8px;
            line-height: 12px;

            color: #118431;
          }

          svg {
            margin-left: 4px;
          }
        }
      }
    }
  }
}
