#welcome {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 47px;
    color: #000000;
  }

  .btn-outline-pink {
    width: 258px;
    height: 62px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid #ce1449;
    border-radius: 100px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #ce1449;
  }
}
